################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo.DotNetCoreAPI.JWTAuthentication/.vs/Demo.DotNetCoreAPI.JWTAuthentication/v16
/Demo.DotNetCoreAPI.JWTAuthentication/bin/Debug/netcoreapp3.1
/Demo.DotNetCoreAPI.JWTAuthentication/obj
